div.game-page-plate-details-block {
    margin-block-end: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.3rem;
}

div.game-page-plate-details-block > span:first-child {
    font-weight: bold;
}

.break {
    width: 100%;
}
