.sbs-gaming div.game-plate-expansions {
    flex: 1 1 0;
}

.sbs-gaming div.game-plate-expansions ul {
    padding-left: 1rem !important;
}

.sbs-gaming div.game-plate-expansions li {
    margin: 0.5rem 0;
    list-style-type: none;
}
