.sbs-gaming div.collection-card-thumb-time {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    background-color: var(--collection-card-thumb-canvas-color);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    color: white;
    font-weight: bold;
}
