.sbs-gaming div.game-plate-expansion {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sbs-gaming div.game-plate-expansion img {
    border-radius: 3px !important;
    width: 30px !important;
}
